main {
  width: 500px;
  margin: 10px auto 0 auto;
}

#inputSuggestions {
  border: 1px solid #ccc;
  background: #fff;
  width: 100%;
}

#suggestionsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  width: 100%;
  height: 45px;
  display: none;
}
